.chluck {
  opacity: 0;
  translate: 0 0 30cm;
  block-size: 100lvh;
  justify-items: enter;
  align-content: center;
  background: linear-gradient(to bottom, #BC0000 20%, #8B0000 50%, #480607 100%);
  animation: appear forwards;
  animation-timeline: --crushed;
  animation-range: 99.9% 100%;
  
  p {
    position: static;
    font-family: 'Creepster';
    font-size: 20vw;
    rotate: 4deg;
  }
}